{{!

	WIDGET - TWITTER FEED
	! Configuration of this file is required.

}}

	<section class="widget twitter">
		{{! WIDGET HEADER }}
		<h3 class="widget-title">Twitter</h3>
		<hr>

		{{! WIDGET CONTENT }}
        <a class="twitter-timeline" href="https://twitter.com/joeyvmason" data-tweet-limit="3" data-chrome="nofooter noborders noscrollbar transparent noheader" data-dnt="true">Tweets by joeyvmason</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	</section>
